@model Employee 
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>

<hr />
<hr />
<hr />
<div>
    <partial name="PartialViews/DeleteDetailsPartialEmployee" />


 
    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back to List</a>

</div>